<%= form_for @service, html: { class: 'table-formulary col s12' } do |f| %>
    <a href="<%= services_path %>" class="waves-effect waves-light btn-small right">
      <i class="material-icons">backspace</i>
    </a>
    <div class="input-field col s12">
      <%= f.text_field :name, id: 'name' %>
      <%= f.label :nome_do_serviço %>
    </div>

    <div class="input-field col s6">
      <%= f.text_field :price, id: 'price' %>
      <%= f.label :preço %>
    </div>
    <div class="input-field col s6">
      <%= f.select :specialty_id, @accessible_specialties.collect { |specialty| [ specialty.name, specialty.id ] } %>
      <%= f.label :especialidade %>
    </div>
    <div class="input-field col s12">
      <%= f.button nil, :class => 'btn waves-effect waves-light btn-full' do %>
        <i class="material-icons">send</i>
      <% end %>
    </div>
<% end %>
