 <li class="collection-item">


   <%= link_to service.name, edit_service_path(service) %>
   <%= link_to  service_path(service), method: :delete, class: "secondary-content", data: { confirm: "Você tem certeza?" } do %>
     <i class="material-icons">delete</i>
   <% end %>
 </li>
