 <li class="collection-item avatar">
   <img src="assets/patient-man.png" alt="" class="circle">

   <p>Nome: Paciente 1 <br>
      Status: <span class="blue-text">Em Atendimento</span>
   </p>
     <a class="secondary-content blue-text">
      <span>Adelita Leal</span>
     </a>
 </li>
 
 <li class="collection-item avatar">
   <img src="assets/patient-man.png" alt="" class="circle">

   <p>Nome: Paciente 2 <br>
      Status: <span class="red-text">Aguardando. . .</span>
   </p>
     <a class="secondary-content">
      <i class="material-icons">delete</i>
     </a>
 </li>
 
 <li class="collection-item avatar">
   <img src="assets/patient-girl.png" alt="" class="circle">

   <p>Nome: Paciente 3 <br>
      Status: <span class="blue-text">Em Atendimento</span>
   </p>
     <a class="secondary-content blue-text">
      <span>Lucas Moura</span>
     </a>
 </li>
 
 <li class="collection-item avatar">
   <img src="assets/patient-girl.png" alt="" class="circle">

   <p>Nome: Paciente 4 <br>
      Status: <span class="red-text">Aguardando. . .</span>
   </p>
   <a class="secondary-content">
     <i class="material-icons">delete</i>
   </a>  
 </li>