<%= form_for @user, html: { class: 'table-formulary col s12' } do |f| %>
    <a href="<%= users_path %>" class="waves-effect waves-light btn-small right">
      <i class="material-icons">backspace</i>
    </a>
    <div class="input-field col s12">
      <%= f.text_field :name, id: 'name' %>
      <%= f.label :nome %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :celphone, id: 'celphone' %>
      <%= f.label :celular %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :birthday, id: 'birthday' %>
      <%= f.label :data_de_nascimento %>
    </div>
    <div class="input-field col s12">
      <%= f.select :gender_id, @accessible_genders.collect { |gender| [ gender.name, gender.id ] } %>
      <%= f.label :sexo %>
    </div>
    <div class="input-field col s12">
     <%= f.text_field :email, id: 'email' %>
     <%= f.label :email %>
    </div>
    <div class="input-field col s12">
      <%= f.select :specialty_id, @accessible_specialties.collect { |specialty| [ specialty.name, specialty.id ] } %>
      <%= f.label :especialidade %>
    </div>

    <div class="input-field col s6">
     <%= f.password_field :password, class: 'validate' %>
     <%= f.label :senha %>
    </div>

    <div class="input-field col s6">
       <%= f.password_field :password_confirmation, class: 'validate'  %>
       <%= f.label :confirmar_senha %>
    </div>

    <div class="input-field col s12">
      <%= f.select :role_id, @accessible_roles.collect { |role| [ role.name, role.id ] } %>
      <%= f.label :tipo_de_usuário %>
    </div>
    <div class="input-field col s12">
      <%= f.button nil, :class => 'btn waves-effect waves-light btn-full' do %>
        <i class="material-icons">send</i>
      <% end %>
    </div>
<% end %>
