 <li class="collection-item avatar">
   <img src="<%= asset_path(user.avatar) %>" alt="" class="circle">

   <p>Nome: <%= link_to user.name, edit_user_path(user) %> <br>
      Status: <%= user.deleted_at.nil? ? '<span class="green-text">Ativo</span>'.html_safe : '<span class="red-text">Inativo</span>'.html_safe %>
   </p>
   <%= link_to  user_path(user), method: :delete, class: "secondary-content", data: { confirm: "Você tem certeza?" } do %>
     <i class="material-icons">delete</i>
   <% end %>
 </li>
