<%= form_for @specialty, html: { class: 'table-formulary col s12' } do |f| %>
    <a href="<%= specialties_path %>" class="waves-effect waves-light btn-small right">
      <i class="material-icons">backspace</i>
    </a>
    <div class="input-field col s12">
      <i class="material-icons prefix orange-color">local_offer</i>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'validate', id: 'name' %>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix orange-color">description</i>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'materialize-textarea', id: 'description' %>
    </div>

    <div class="input-field col s12">
      <%= f.button nil, :class => 'btn waves-effect waves-light btn-full' do %>
        <i class="material-icons">send</i>
      <% end %>
    </div>
<% end %>
