 <li class="collection-item">
   <%= link_to specialty.name, edit_specialty_path(specialty) %>
   <%= link_to  specialty_path(specialty), method: :delete, class: "secondary-content", data: { confirm: "Você tem certeza?" } do %>
     <i class="material-icons">delete</i>
   <% end %>
 </li>
