<div class="container">
  <blockquote>
    <h2 class="flow-text">Editar Serviço</h2>
  </blockquote>
  <div class="row row-table">
    <%= render 'form' %>
  </div>
</div>

<% if @specialty.errors.any? %>
  <script type="text/javascript">
    <% @specialty.errors.full_messages.each do |msg| %>
      M.toast({html: "<%= msg %>"});
    <% end %>
  </script>
<% end %>
