<div class="container">
  <blockquote>
    <h2 class="flow-text">Especialidades</h2>
  </blockquote>
  <div class="row">
      <form class="col s12">
        <div class="input-field col s10">
          <input id="query" type="text" name="query" class="validate">
          <label for="email">Buscar</label>
        </div>
        <div class="col s2 search-button">
          <button class="btn waves-effect waves-light" type="submit">
            <i class="material-icons">search</i>
          </button>
        </div>
      </form>
      <%= render 'list'%>
  </div>
  <% if can? :create, Specialty %>
  <div class="fixed-action-btn">
      <%= link_to(new_specialty_path, class: "btn-floating btn-large waves-effect waves-light red pulse") do %>
          <i class="material-icons">add</i>
      <% end %>
    </div>
  <% end %>
</div>

<% if !flash[:notice].nil? %>
  <script type="text/javascript">
    M.toast({html: "<%= flash[:notice] %>"});
  </script>
<% end %>
