<%= form_for @pacient, html: { class: 'table-formulary col s12' } do |f| %>
    <a href="<%= pacients_path %>" class="waves-effect waves-light btn-small right">
      <i class="material-icons">backspace</i>
    </a>
    <div class="input-field col s12">
      <%= f.text_field :name, id: 'name' %>
      <%= f.label :nome %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :cpf, id: 'cpf' %>
      <%= f.label :cpf %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :rg, id: 'rg' %>
      <%= f.label :rg %>
    </div>
    <div class="input-field col s8">
      <%= f.text_field :address, id: 'address' %>
      <%= f.label :endereço %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :cep, id: 'cep' %>
      <%= f.label :cep %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :number, id: 'number' %>
      <%= f.label :número %>
    </div>
    <div class="input-field col s8">
      <%= f.text_field :complement, id: 'complement' %>
      <%= f.label :complemento %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :birthday, id: 'birthday' %>
      <%= f.label :data_de_nascimento %>
    </div>
    <div class="input-field col s6">
      <%= f.select :marital_status, [['Casado', 'Casado'], ['Solteiro', 'Solteiro'], ['Divorciado', 'Divorciado'], ['Viúvo', 'Viúvo'], ['Outro', 'Outro']] %>
      <%= f.label :estado_civil %>
    </div>
    <div class="input-field col s12">
      <%= f.select :gender_id, @accessible_genders.collect { |gender| [ gender.name, gender.id ] } %>
      <%= f.label :sexo %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :fone, id: 'fone' %>
      <%= f.label :telefone %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :celphone, id: 'celphone' %>
      <%= f.label :celular %>
    </div>
    <div class="input-field col s12">
     <%= f.text_field :email, id: 'email' %>
     <%= f.label :email %>
    </div>
    <div class="input-field col s12">
     <%= f.text_field :profession, id: 'profession' %>
     <%= f.label :profissão %>
    </div>
    <div class="input-field col s6">
     <%= f.text_field :nacionality, id: 'nacionality' %>
     <%= f.label :nacionalidade %>
    </div>
    <div class="input-field col s6">
     <%= f.text_field :indication, id: 'indication' %>
     <%= f.label :indicação %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :start_processing, id: 'start_processing' %>
      <%= f.label :inicio_do_tratamento %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :end_processing, id: 'end_processing' %>
      <%= f.label :fim_do_tratamento %>
    </div>

    <div class="input-field col s12">
      <%= f.button nil, :class => 'btn waves-effect waves-light btn-full' do %>
        <i class="material-icons">send</i>
      <% end %>
    </div>
<% end %>
