 <li class="collection-item avatar">
   <img src="<%= pacient.gender_id == 1 ? asset_path('patient-male.png') : asset_path('patient-female.png') %>" alt="" class="circle">

   <p>Nome: <%= link_to pacient.name, edit_pacient_path(pacient) %></p>
   <% if can? :create, Appointment %>
      <a class="modal-trigger" href="#mark_consult_<%=pacient.id%>">
        <i class="material-icons tooltipped" data-position="right" data-tooltip="Marcar Consulta">assignment</i>
      </a>
    <% end %>
   <!-- Modal Structure -->
   <div id="mark_consult_<%=pacient.id%>" class="modal">
     <div class="modal-header right">
       <a href="#!" class="modal-close btn waves-effect waves-light">x</a>
     </div>
     <div class="modal-content">
       <h4>Marcar Consulta</h4>
       <%= form_for @appointment, html: { class: 'table-formulary col s12' } do |f| %>
         Paciente: <input type="text" name="" value="<%=pacient.name%>" disabled>
         <input type="hidden" name="appointment[pacient_id]" value="<%=pacient.id%>">
         <div class="input-field col s12">
           <%= f.select :specialty_id, @accessible_specialties.collect { |specialty| [ specialty.name, specialty.id ] } %>
           <%= f.label :especialidade %>
         </div>
         <div class="input-field col s12">
           <%= f.button nil, :class => 'btn waves-effect waves-light btn-full' do %>
             <i class="material-icons">send</i>
           <% end %>
         </div>
       <% end %>
     </div>
   </div>
   <% if can? :create, Appointment %>
     <a class="modal-trigger" href="#details_<%=pacient.id%>">
       <i class="material-icons tooltipped" data-position="right" data-tooltip="Histórico de Consultas">history</i>
     </a>
   <% end %>
   <div id="details_<%=pacient.id%>" class="modal bottom-sheet">
     <div class="modal-content">
       <h3 class="header">Histórico de Consultas</h3>
       <ul class="collection">
         <% pacient.appointments.where.not(status: ['buzy', 'wait']).order(created_at: :desc).limit(10).each_with_index do |appointment, index| %>
         <li class="collection-item avatar">
           <img src="/assets/<%= index+1 %>.jpg" alt="" class="circle">
           <span class="title"><%= appointment.specialty.name %></span>
           <p>Médico: <%= appointment.user.name %></p>
           <p>Data: <%= appointment.created_at.strftime("%d-%m-%Y") %></p>
           <p>Status: <%= I18n.t appointment.status %></p>
           <a href="<%= appointment_detail_path(appointment) %>" class="secondary-content">
             <i class="material-icons">grade</i>
           </a>
         </li>
         <% end %>
       </ul>
     </div>
     <div class="modal-footer">
       <a href="#!" class="modal-close waves-effect waves-green btn-flat">FECHAR</a>
     </div>
   </div>
   <% if can? :appointment_history_all, Appointment %>
     <%= link_to appointments_history_all_path(pacient.id) do %>
       <i class="material-icons tooltipped" data-position="right" data-tooltip="Todas as Consultas">reorder</i>
     <% end %>
   <% end %>
   <% if can? :destroy, Pacient %>
     <%= link_to  pacient_path(pacient), method: :delete, class: "secondary-content", data: { confirm: "Você tem certeza?" } do %>
       <i class="material-icons">delete</i>
     <% end %>
   <% end %>

 </li>
