<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "passport"}) do |f| %>
  <div class="group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" do %>
      <span class="highlight"></span><span class="bar"></span>
    <% end %>
    <%= f.label :email %>
  </div>
  <div class="group">
    <%= f.password_field :password, autocomplete: "current-password" do %>
      <span class="highlight"></span><span class="bar"></span>
    <% end %>
    <%= f.label :password %>
  </div>
  <%= f.submit "Log in", class: 'button buttonBlue', :type => 'submit' do %>
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  <% end %>
<% end %>

<% if !alert.nil? %>
  <script type="text/javascript">
    M.toast({html: "<%= alert %>"});
  </script>
<% end %>
