blockquote {
    border-left: 5px solid #e65100;
}

.table-formulary{
    padding-top: 15px !important;
}

.orange-color {
  color: #e65100;
}


.datepicker-controls .select-month input {
  width: 77px !important;
}

.btn-full {
  width: 100% !important;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.pagination li.active {
  background-color: #c7c7cc !important;
}

.search-button {
  padding-top: 22px !important;
  padding-left: 0px !important;
}

.description {
  padding-bottom: 20px;
}
