 <li class="collection-item avatar">
   <i class="material-icons circle">subdirectory_arrow_right</i>
   <p><%= appointment.pacient.name %></p>
   <p>Especialidade: <%= appointment.specialty.name %></p>
   <p>Status: <%= appointment.status == 'wait' ? '<span class="green-text">'"#{I18n.t appointment.status}"'</span>'.html_safe : '<span class="red-text">'"#{I18n.t appointment.status}"'</span>'.html_safe %></p>
   <a href="<%= appointment_start_path(appointment) %>" class="secondary-content">
     <i class="material-icons tooltipped" data-position="right" data-tooltip="Atender">send</i>
   </a>
 </li>
