<%= form_for @appointment, html: { class: 'table-formulary col s12' } do |f| %>
    <a href="<%= appointments_path %>" class="waves-effect waves-light btn-small right">
      <i class="material-icons">backspace</i>
    </a>
    <div class="input-field col s12">
      <%= f.select :service_id, @accessible_services.collect { |service| [ service.name, service.id ] }, :disabled => true %>
      <%= f.label :serviço %>
    </div>
    <div class="input-field col s12">
      <%= f.label :paciente %>
      <%= @appointment.pacient.name %>
      <%= f.hidden_field :pacient_id, :value=> @appointment.pacient.id%>
    </div>
    <div class="input-field col s12">
      <%= f.label :médico %>
      <%= current_user.name %>
      <%= f.hidden_field :user_id, :value=> current_user.id %>
    </div>

    <div class="input-field col s12">
      <%= f.label :descrição %>
      <%= f.text_area :note, class: 'materialize-textarea', id: 'description' %>
    </div>

    <div class="input-field col s12">
      <%= f.button nil, :class => 'btn waves-effect waves-light btn-full' do %>
        <i class="material-icons">send</i>
      <% end %>
    </div>
<% end %>
