<div class="container">
  <blockquote>
    <h2 class="flow-text">Histórico de Consultas</h2>
    <span class="flow-text"><%= @pacient.name  %></span>
  </blockquote>
  <div class="row">
    <a href="<%= pacients_path %>" class="waves-effect waves-light btn-small right">
      <i class="material-icons tooltipped" data-position="top" data-tooltip="Voltar">backspace</i>
    </a>
  </div>
  <div class="row">
    <ul class="collection">
      <% @appointments.each do |appointment| %>
      <%
         total = appointment.services.sum(:price)
         total += appointment.price_optional if !appointment.price_optional.nil?
         total -= appointment.discount if !appointment.discount.nil?
       %>
        <li class="collection-item avatar">
          <span class="title"><%= appointment.specialty.name %></span>
          <p>Serviço:
            <% appointment.appointment_services.each_with_index do | appointment_services, index |  %>

                <%= "#{index+1} - " + appointment_services.service.name %>
                <%= ', ' if index < (appointment.appointment_services.count - 1)  %>
            <% end %>
          </p>
          <% if !appointment.price_optional.nil? %>
            <p>Acréscimo: <%= appointment.price_optional %></p>
          <% end
           if !appointment.discount.nil?%>
            <p>Desconto: <%= appointment.discount %></p>
          <% end %>
          <p>Valor Total: <%= number_to_currency(total) %></p>
          <p>Médico: <%= appointment.user.name %></p>
          <p>Data: <%= appointment.created_at.strftime("%d-%m-%Y") %></p>
          <p>Status: <%= I18n.t appointment.status %></p>
          <p>Observação: <%= appointment.note %></p>
        </li>
      <% end %>
    </ul>
    <div class="row center">
        <%= will_paginate @appointments %>
    </div>
  </div>
</div>
