<div class="container">
  <blockquote>
    <h2 class="flow-text">Detalhes do Pagamento</h2>
  </blockquote>
  <div class="row row-table">
        <div class="row description">
          <div class="input-field col s12">
            <label>Serviços:
              <% @appointment.appointment_services.each_with_index do | appointment_services, index |  %>

                  <%= "#{index+1} - " + appointment_services.service.name %>
                  <%= ', ' if index < (@appointment.appointment_services.count - 1)  %>
              <% end %>
            </label>
          </div>
          <div class="input-field col s12">
            <label for="paciente">Paciente: <%= @appointment.pacient.name %></label>
          </div>
          <div class="input-field col s12">
            <label for="medico">Médico: <%= @appointment.user.name %></label>
          </div>
          <div class="input-field col s12">
            <label>Fotos:</label>
          </div>
        </div>
        <div class="row">
          <% @appointment.images.each do |image| %>
            <div class="input-field col s3">
                <%= image_tag image, class: "responsive-img materialboxed" %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label>Tipo de Pagamento: <%= @appointment.payment_type %></label>
          </div>
          <% if !@appointment.price_optional.nil? %>
            <div class="input-field col s12">
              <label for="medico">Acréscimo: <%= number_to_currency(@appointment.price_optional) %></label>
            </div>
          <% end
          if !@appointment.discount.nil?
           %>
            <div class="input-field col s12">
              <label for="medico">Desconto: <%= number_to_currency(@appointment.discount) %></label>
            </div>
          <% end %>
          <div class="input-field col s12">
            <label for="medico">Valor Total: <%= number_to_currency(@total) %></label>
          </div>
        </div>


        <div class="input-field col s12">
          <a href="<%= appointment_finished_path %>" class="btn waves-effect waves-light btn-full">
            Voltar
          </a>
        </div>
  </div>
</div>
