<div class="container">
  <blockquote>
    <h2 class="flow-text">Pacientes Atendidos <%= Time.now.strftime("%d-%m-%Y") %></h2>
  </blockquote>
  <div class="row">
    <ul class="collection">
      <% @appointments.each do |appointment| %>
        <li class="collection-item avatar">
          <i class="material-icons circle <%= !appointment.payment_status.nil? ? 'green' : 'red' %>">subdirectory_arrow_right</i>
          <% if appointment.payment_status.nil? %>
            <%= link_to edit_before_pay_path(appointment) do %>
              <p><%= appointment.pacient.name %></p>
            <% end %>
          <% else %>
            <p><%= appointment.pacient.name %></p>
          <% end %>
          <p>Serviços:
            <% appointment.appointment_services.each_with_index do | appointment_services, index |  %>

                <%= "#{index+1} - " + appointment_services.service.name %>
                <%= ', ' if index < (appointment.appointment_services.count - 1)  %>
            <% end %>
          </p>
          <p>Médico: <%= appointment.user.name %></p>
          <% if !appointment.price_optional.nil? %>
            <p>Acréscimo: <%= number_to_currency(appointment.price_optional) %></p>
          <% end
             if !appointment.discount.nil? %>
             <p>Desconto: <%= number_to_currency(appointment.discount) %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="row center">
        <%= will_paginate @appointments %>
    </div>

  </div>
</div>

<% if !flash[:notice].nil? %>
  <script type="text/javascript">
    M.toast({html: "<%= flash[:notice] %>"});
  </script>
<% end %>
