<div class="container">
  <blockquote>
    <h2 class="flow-text">Pagamento de  Atendimento</h2>
  </blockquote>
  <div class="row row-table">
    <%= form_for @appointment, url: appointment_update_path, html: { class: 'table-formulary col s12' } do |f| %>
        <a href="<%= appointment_finished_path %>" class="waves-effect waves-light btn-small right">
          <i class="material-icons">cancel</i>
        </a>
        <h5>Dados do atendimento</h5>
        <div class="row description">
          <div class="input-field col s12">
            <label>Serviços:
              <% @appointment.appointment_services.each_with_index do | appointment_services, index |  %>

                  <%= "#{index+1} - " + appointment_services.service.name %>
                  <%= ', ' if index < (@appointment.appointment_services.count - 1)  %>
              <% end %>
            </label>
          </div>
          <div class="input-field col s12">
            <label for="paciente">Paciente: <%= @appointment.pacient.name %></label>
          </div>
          <div class="input-field col s12">
            <label for="medico">Médico: <%= @appointment.user.name %></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select name="appointment[payment_type]">
              <option value="Dinheiro">Dinheiro</option>
              <option value="Cartão">Cartão</option>
            </select>
            <label>Tipo de Pagamento</label>
          </div>
          <div class="input-field col s12">
          <% if !@appointment.price_optional.nil? %>
              <label for="medico">Acréscimo: <%= number_to_currency(@appointment.price_optional) %></label>
          </div>
          <% end
             if !@appointment.discount.nil? %>
               <div class="input-field col s12">
                <label for="medico">Desconto: <%= number_to_currency(@appointment.discount) %></label>
              </div>
          <% end %>
          <div class="input-field col s12">
            <label for="medico">Valor Total: <%= number_to_currency(@total) %></label>
          </div>
        </div>


        <div class="input-field col s12">
          <%= f.button nil, :class => 'btn waves-effect waves-light btn-full' do %>
            Efetuar Pagamento
          <% end %>
        </div>
    <% end %>
  </div>
</div>
