<div class="container">
  <blockquote>
    <h2 class="flow-text">Atendimentos Finalizados</h2>
  </blockquote>
  <div class="row">
    <ul class="collection">
      <% @appointments.each do |appointment|

        total = appointment.services.sum(:price)
        total += appointment.price_optional if !appointment.price_optional.nil?
        total -= appointment.discount if !appointment.discount.nil?
        %>

        <li class="collection-item avatar">
          <i class="material-icons circle <%= !appointment.payment_status.nil? ? 'green' : 'red' %>">subdirectory_arrow_right</i>
          <p><%= appointment.pacient.name %></p>
          <p>Serviços:
            <% appointment.appointment_services.each_with_index do | appointment_services, index |  %>

                <%= "#{index+1} - " + appointment_services.service.name %>
                <%= ', ' if index < (appointment.appointment_services.count - 1)  %>
            <% end %>
          </p>
          <p>Médico: <%= appointment.user.name %></p>
          <% if !appointment.price_optional.nil? %>
            <p>Acréscimo: <%= number_to_currency(appointment.price_optional) %></p>
          <% end
             if !appointment.discount.nil? %>
             <p>Desconto: <%= number_to_currency(appointment.discount) %></p>
          <% end %>
          <p>Valor: <%= number_to_currency(total) %></p>
          <% unless !appointment.payment_status.nil? %>
            <a href="<%= appointment_payment_path(appointment) %>" class="secondary-content">
              <i class="material-icons tooltipped" data-position="right" data-tooltip="Pagar">send</i>
            </a>
          <% else %>
          <a href="<%= appointment_detail_path(appointment) %>" class="secondary-content">
            <i class="material-icons tooltipped" data-position="left" data-tooltip="Detalhes"><%= appointment.payment_type == 'Cartão' ? 'credit_card' : 'attach_money' %></i>
          </a>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="row center">
        <%= will_paginate @appointments %>
    </div>

  </div>
</div>

<% if !flash[:notice].nil? %>
  <script type="text/javascript">
    M.toast({html: "<%= flash[:notice] %>"});
  </script>
<% end %>
