<div class="container">
  <blockquote>
    <h2 class="flow-text">Editar Atendimento</h2>
  </blockquote>
  <div class="row row-table">
    <%= form_for @appointment, multiple: true, html: { class: 'table-formulary col s12' } do |f| %>
        <%= link_to  appointment_cancel_path(@appointment), data: { confirm: "Você tem certeza?" }, class: "waves-effect waves-light btn-small right" do %>
          <i class="material-icons">cancel</i>
        <% end %>
        <a class="waves-effect waves-light btn-small modal-trigger" href="#details_<%=@appointment.user_id%>">
          <i class="material-icons tooltipped" data-position="right" data-tooltip="Histórico de Consultas">access_time</i>
        </a>
        <div id="details_<%=@appointment.user_id%>" class="modal bottom-sheet">
          <div class="modal-content">
            <h3 class="header">Histórico de Consultas</h3>
            <ul class="collection">
              <% @appointments.each_with_index do |appointment, index|
                total = appointment.services.sum(:price)
                total += appointment.price_optional if !appointment.price_optional.nil?
                total -= appointment.discount if !appointment.discount.nil?
                %>
              <li class="collection-item avatar">
                <img src="/assets/<%= index+1 %>.jpg" alt="" class="circle">
                <span class="title"><%= appointment.specialty.name %></span>
                <p>Serviço:
                  <% appointment.appointment_services.each_with_index do | appointment_services, index |  %>

                      <%= "#{index+1} - " + appointment_services.service.name %>
                      <%= ', ' if index < (appointment.appointment_services.count - 1)  %>
                  <% end %>
                </p>
                <% if !appointment.price_optional.nil? %>
                  <p>Acréscimo: <%= number_to_currency(appointment.price_optional) %></p>
                <% end
                if !appointment.discount.nil? %>
                  <p>Desconto: <%= number_to_currency(appointment.discount) %></p>
                <% end %>
                <p>Valor Total: <%= number_to_currency(total) %></p>
                <p>Médico: <%= appointment.user.name %></p>
                <p>Data: <%= appointment.created_at.strftime("%d-%m-%Y") %></p>
                <p>Status: <%= I18n.t appointment.status %></p>
                <p>Observação: <%= appointment.note %></p>
              </li>
              <% end %>
            </ul>

          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">FECHAR</a>
          </div>
        </div>


        <h5>Dados do atendimento</h5>
        <div class="row description">
          <div class="input-field col s12">
            <label for="paciente">Paciente: <%= @appointment.pacient.name %></label>
            <%= f.hidden_field :pacient_id, :value=> @appointment.pacient.id%>
          </div>
          <div class="input-field col s12">
            <label for="medico">Médico: <%= current_user.name %></label>
          </div>
        </div>
        <div class="row">
          <div id="appointment_services">
            <div class="nested-fields">
              <div class="input-field col s12">
                <%= select_tag("service_ids[]", options_for_select(@services_option, @appointment.appointment_services.map(&:service_id)), {:multiple=>true, :required => true}) %>
                <%= label_tag 'Selecionar Serviços:' %>
              </div>
            </div>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :price_optional, id: 'price' %>
            <%= f.label :acrescimo %>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :discount, id: 'price' %>
            <%= f.label :desconto %>
          </div>
          <div class="input-field col s12">
            <%= f.label :descrição %>
            <%= f.text_area :note, class: 'materialize-textarea', id: 'description' %>
          </div>
          <div class="input-field col s12">
            <%= f.file_field :images, direct_upload: true, multiple: true %>
          </div>
        </div>


        <div class="input-field col s12">
          <%= f.button nil, :class => 'btn waves-effect waves-light btn-full' do %>
            Finalizar Atendimento
          <% end %>
        </div>
    <% end %>
  </div>
</div>
