<div class="container">
  <blockquote>
    <h2 class="flow-text">Lista de Espera</h2>
  </blockquote>
  <div class="row">
    <%= render 'list'%>
  </div>
</div>

<% if !flash[:notice].nil? %>
  <script type="text/javascript">
    M.toast({html: "<%= flash[:notice] %>"});
  </script>
<% end %>
