<!DOCTYPE html>
<html>
  <head>
    <title>ClinicSystem | Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>

    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Clinic System">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
      function tooltipMessage(message){
        M.toast({html: message});
      }
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
